/*----------------------------------全局-----------------------------*/
body{
	font-family: '微软雅黑',Microsoft YaHei,verdana,Tahoma,sans-serif;
	background:#F2F2F2;
}
header{
width: 100%;
height: 50px;
background-color: #fff;
}
.lolihd_content{width:850px;margin:0 auto;zoom:1;}
.lolihd_content .lolihd_preview_list{
	margin-right: -1px;
}
.lolihd_preview_list a{
	width: 200px;
	height: 120px;
	float: left;
	background: rgba(255,255,255,0.72);
	margin-top: 8px;
	margin-right: 10px;
	text-align: center;
	line-height: 120px;
	font-size: 24px;
	color: rgba(49,48,48,0.73);
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.64);
}
.lolihd_preview_list a:hover{background: rgba(255,102,0,0.72);color:#fff;margin-top:6px;margin-bottom:2px;-webkit-box-shadow:rgba(0,0,0,0.5) 0px 5px 20px;box-shadow:rgba(0,0,0,0.5) 0px 3px 15px;transition:0.5s}
.footer{
	width: 850px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	/*position: absolute;
	top: 720px;*/
	color: rgba(31,31,31,0.72);
	line-height: 60px;
}.footer a:link{text-decoration:none;color: rgba(31,31,31,0.72)}.footer a:hover{text-decoration:none;color:#f60}

/*--------------------------------动态背景--------------------------------*/
#slideshow {
	position:relative;
	height:100%;/*350px;*/
	z-index:-1;
}
#slideshow IMG {
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0.0;
}
#slideshow IMG.active {
	z-index:10;
	opacity:1.0;
}
#slideshow IMG.last-active {
	z-index:9;
}
#slideshow img {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
 @media screen and (max-width: 1024px) {
 img.bg {
 left: 50%;
 margin-left: -512px;
}
}
/*--------------------------------动态背景--------------------------------*/
/*--------------------------------中间容器控制--------------------------------*/

#lolihd {
	width: 960px;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	/* [disabled]padding: 20px; */
}

/*------------------------------萝莉搜索框容器------------------------------*/
.so_lolihd{
	width: 640px;
	height: 54px;
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -320px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.0);/*搜索背景色*/
	z-index: 3;
	max-height: 64px;
	max-width: 660px;
	/*padding-top: 10px;*/
	padding-left: 10px;
	padding-right: 10px;
}


/*------------------------------css3搜索样式------------------------------*/
	#searchform { float:left; margin-left:20px; margin:9px 0px 0px; padding:0px; }
	#searchform fieldset { padding:0px; border:none; margin:0px; }
	#searchform input[type="text"] {
	background-color: rgba(255,255,255,0.60);
	border: 1px solid rgba(37,173,228,0.50);
	float: left;
	padding: 0px 10px 0px 15px;
	margin: 0px;
	width: 525px;
	height: 36px;
	line-height: 36px;
	transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	color: #585858;
	}
	#searchform input[type="text"]:hover, #searchform input[type="text"]:focus { width:575px; }
	#searchform input[type="submit"] { background:url(http://www.acgal.cn/common/image/main/icon-search.png) center 11px no-repeat; cursor:pointer; margin:0px; padding:0px; width:37px; height:38px; line-height:38px; }

	input[type="submit"] { padding:4px 17px; color:#ffffcolor:#585858; ff; text-transform:uppercase; border:none; font-size:20px; background:url(http://www.acgal.cn/common/image/main/gradient.png) bottom repeat-x; cursor:pointer; margin-top:10px; float:left; overflow:visible; transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; -webkit-transition: all .3s linear; }

	#searchform input[type="submit"]:hover { background-color:#333232; }
	.style_1 #searchform input[type='submit'] { background-color:#25ade4; }
	.style_2 #searchform input[type='submit'] { background-color:#ff26a0; }
	.style_3 #searchform input[type='submit'] { background-color:#e024e3; }
	.style_4 #searchform input[type='submit'] { background-color:#e32424; }
	.style_5 #searchform input[type='submit'] { background-color:#ff8a00; }
	.style_1, .style_2, .style_3, .style_4, .style_5 { /*margin:10px;*/ display:block; clear:both }
